<div class="logo">

<img src="OIPDB130WGI.jpg" alt="image not found">

</div>

<div class="navbar">

  <h1 style="color:red"><marquee>XORIANT FITNESS TRACKER</marquee></h1>

</div>



<div class="sidebar" style="background-color:blue">

  <button style="background-color:aqua"(click)="landingpage()">Home</button><br>

  <button style="background-color:aqua"(click)="placeAppointment()">Place Appointment</button><br>

  <button style="background-color:aqua"(click)="viewAppointment()">View Appointment</button><br>

  <button style="background-color:aqua"(click)="contactUspage()">Contact Us</button>



</div>

<router-outlet></router-outlet>